<nav class="navbar">
    <div class="logo">
      <a routerLink="/vista-inicial">
        <img src="assets/logo.svg" alt="Logo">
        <span class="app-name">Week Meal</span>
      </a>
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar..." #searchInput (keyup.enter)="buscar(searchInput.value)">
    </div>
    <div class="user-section">
      <span class="username">NombreDeUsuario</span>
      <a routerLink="/perfil/datos">
        <img src="assets/user-icon.svg" alt="User">
      </a>
    </div>
</nav>  