<app-navbar></app-navbar>

<div class="container">
  <div class="button-container">
    <button class="profile-button" [routerLink]="['/perfil/datos']">Editar Perfil</button>
    <button class="profile-button" [routerLink]="['/perfil/preferencias']">Preferencias Alimenticias</button>
  </div>

  <div class="profile-container">
    <img class="background-image" src="/assets/fondo-perfil.svg" alt="Fondo del perfil">
    <form (ngSubmit)="guardarCambios()" class="form-flex">
      <div class="form-column" *ngIf="tolerancia">
        <div class="form-group">
          <label for="vegatariano">¿Llevas una dieta vegetariana?</label>
          <div class="toggle-button">
            <button type="button" class="yes-button" (click)="tolerancia.vegetarian = true" [ngClass]="{'active': tolerancia.vegetarian}">Sí</button>
            <button type="button" class="no-button" (click)="tolerancia.vegetarian = false" [ngClass]="{'active': !tolerancia.vegetarian}">No</button>
            <i class="far" [ngClass]="{'fa-check-circle': tolerancia.vegetarian, 'fa-circle': !tolerancia.vegetarian}"></i>
          </div>
        </div>

        <div class="form-group">
          <label for="vegano">¿Llevas una dieta vegana?</label>
          <div class="toggle-button">
            <button type="button" class="yes-button" (click)="tolerancia.vegan = true" [ngClass]="{'active': tolerancia.vegan}">Sí</button>
            <button type="button" class="no-button" (click)="tolerancia.vegan = false" [ngClass]="{'active': !tolerancia.vegan}">No</button>
            <i class="far" [ngClass]="{'fa-check-circle': tolerancia.vegan, 'fa-circle': !tolerancia.vegan}"></i>
          </div>
        </div>

        <div class="form-group">
          <label for="bajoCarbohidratos">¿Dieta baja en carbohidratos?</label>
          <div class="toggle-button">
            <button type="button" class="yes-button" (click)="tolerancia.lowFodmap = true" [ngClass]="{'active': tolerancia.lowFodmap}">Sí</button>
            <button type="button" class="no-button" (click)="tolerancia.lowFodmap = false" [ngClass]="{'active': !tolerancia.lowFodmap}">No</button>
            <i class="far" [ngClass]="{'fa-check-circle': tolerancia.lowFodmap, 'fa-circle': !tolerancia.lowFodmap}"></i>
          </div>
        </div>
        <!-- Otros campos de preferencias alimenticias aquí -->
      </div>

      <div class="form-column" *ngIf="tolerancia">
        <div class="form-group">
          <label for="intoleranteGluten">¿Intolerante al gluten?</label>
          <div class="toggle-button">
            <button type="button" class="yes-button" (click)="tolerancia.glutenFree = true" [ngClass]="{'active': tolerancia.glutenFree}">Sí</button>
            <button type="button" class="no-button" (click)="tolerancia.glutenFree = false" [ngClass]="{'active': !tolerancia.glutenFree}">No</button>
            <i class="far" [ngClass]="{'fa-check-circle': tolerancia.glutenFree, 'fa-circle': !tolerancia.glutenFree}"></i>
          </div>
        </div>

        <div class="form-group">
          <label for="intoleranteLactosa">¿Intolerante a la lactosa?</label>
          <div class="toggle-button">
            <button type="button" class="yes-button" (click)="tolerancia.dairyFree = true" [ngClass]="{'active': tolerancia.dairyFree}">Sí</button>
            <button type="button" class="no-button" (click)="tolerancia.dairyFree = false" [ngClass]="{'active': !tolerancia.dairyFree}">No</button>
            <i class="far" [ngClass]="{'fa-check-circle': tolerancia.dairyFree, 'fa-circle': !tolerancia.dairyFree}"></i>
          </div>
        </div>

        <div class="form-group">
          <label for="bajoGrasas">¿Dieta baja en grasas?</label>
          <div class="toggle-button">
            <button type="button" class="yes-button" (click)="tolerancia.ketogenic = true" [ngClass]="{'active': tolerancia.ketogenic}">Sí</button>
            <button type="button" class="no-button" (click)="tolerancia.ketogenic = false" [ngClass]="{'active': !tolerancia.ketogenic}">No</button>
            <i class="far" [ngClass]="{'fa-check-circle': tolerancia.ketogenic, 'fa-circle': !tolerancia.ketogenic}"></i>
          </div>
        </div>
        <!-- Otros campos de preferencias alimenticias aquí -->
      </div>

      <button type="submit">Guardar Cambios</button>
    </form>
  </div>
</div>
