<app-navbar></app-navbar>

<div class="container">
  <div class="button-container">
    <button class="profile-button">Editar Perfil</button>
    <button class="profile-button">Preferencias Alimenticias</button>
  </div>

  <div class="profile-container">
    <img class="background-image" src="/assets/fondo-perfil.svg" alt="Fondo del perfil">
    <form (submit)="guardarCambios()" class="form-flex">
      <div class="form-column">
        <div class="form-group">
          <label for="vegatariano">¿Llevas una dieta vegetariana?</label>
          <div class="toggle-button">
            <button type="button" class="yes-button" (click)="vegatariano = true" [ngClass]="{'active': vegatariano}">Sí</button>
            <button type="button" class="no-button" (click)="vegatariano = false" [ngClass]="{'active': !vegatariano}">No</button>
            <i class="far" [ngClass]="{'fa-check-circle': vegatariano, 'fa-circle': !vegatariano}"></i>
          </div>
        </div>
  
        <div class="form-group">
          <label for="vegano">¿Llevas una dieta vegana?</label>
          <div class="toggle-button">
            <button type="button" class="yes-button" (click)="vegano = true" [ngClass]="{'active': vegano}">Sí</button>
            <button type="button" class="no-button" (click)="vegano = false" [ngClass]="{'active': !vegano}">No</button>
            <i class="far" [ngClass]="{'fa-check-circle': vegano, 'fa-circle': !vegano}"></i>
          </div>
        </div>
  
        <div class="form-group">
            <label for="bajoCarbohidratos">¿Dieta baja en carbohidratos?</label>
            <div class="toggle-button">
              <button type="button" class="yes-button" (click)="bajoCarbohidratos = true" [ngClass]="{'active': bajoCarbohidratos}">Sí</button>
              <button type="button" class="no-button" (click)="bajoCarbohidratos = false" [ngClass]="{'active': !bajoCarbohidratos}">No</button>
              <i class="far" [ngClass]="{'fa-check-circle': bajoCarbohidratos, 'fa-circle': !bajoCarbohidratos}"></i>
            </div>
          </div>
        <!-- Otros campos de preferencias alimenticias aquí -->
      </div>
  
      <div class="form-column">
        <div class="form-group">
          <label for="intoleranteGluten">¿Intolerante al gluten?</label>
          <div class="toggle-button">
            <button type="button" class="yes-button" (click)="intoleranteGluten = true" [ngClass]="{'active': intoleranteGluten}">Sí</button>
            <button type="button" class="no-button" (click)="intoleranteGluten = false" [ngClass]="{'active': !intoleranteGluten}">No</button>
            <i class="far" [ngClass]="{'fa-check-circle': intoleranteGluten, 'fa-circle': !intoleranteGluten}"></i>
          </div>
        </div>
  
        <div class="form-group">
          <label for="intoleranteLactosa">¿Intolerante a la lactosa?</label>
          <div class="toggle-button">
            <button type="button" class="yes-button" (click)="intoleranteLactosa = true" [ngClass]="{'active': intoleranteLactosa}">Sí</button>
            <button type="button" class="no-button" (click)="intoleranteLactosa = false" [ngClass]="{'active': !intoleranteLactosa}">No</button>
            <i class="far" [ngClass]="{'fa-check-circle': intoleranteLactosa, 'fa-circle': !intoleranteLactosa}"></i>
          </div>
        </div>
  
        <div class="form-group">
            <label for="bajoGrasas">¿Dieta baja en grasas?</label>
            <div class="toggle-button">
                <button type="button" class="yes-button" (click)="bajoGrasas = true" [ngClass]="{'active': bajoGrasas}">Sí</button>
                <button type="button" class="no-button" (click)="bajoGrasas = false" [ngClass]="{'active': !bajoGrasas}">No</button>
                <i class="far" [ngClass]="{'fa-check-circle': intoleranteLactosa, 'fa-circle': !intoleranteLactosa}"></i>
            </div>
          </div>
        <!-- Otros campos de preferencias alimenticias aquí -->
      </div>
  
      <!-- Agrega más columnas si es necesario -->
  
      <button type="submit">Guardar Cambios</button>
    </form>
  </div>
  
