.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 88%;
}

app-receta-info {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; 
}