<div *ngIf="nombreDia" class="dia">
    <h2>{{nombreDia}}</h2>
    <div class="columna">
        <div class="comida">
            <a routerLink="/menu-dia/{{diaSemana}}/Desayuno">
                <img src="assets/logo.svg" alt="Desayuno">
            </a>
        </div>
        <div class="comida">
            <a routerLink="/menu-dia/{{diaSemana}}/Comida">
                <img src="assets/logo.svg" alt="Comida">
            </a>
        </div>
        <div class="comida">
            <a routerLink="/menu-dia/{{diaSemana}}/Cena">
                <img src="assets/logo.svg" alt="Cena">
            </a>
        </div>
    </div>
</div>