.contenedor {
    width: 70%;
    height: 70%;
    background-color: var(--verde-oscuro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.configuracion {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4%;
    margin-right: 4%;
    align-items: flex-start; /* Asegura que los elementos se alineen desde la parte superior */
}

.list {
    flex-direction: column;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.options {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 8px var(--verde-claro); 
    font-size: 1.1em;
    width: 250px; /* Ajustar el ancho para mejor alineación */
    min-height: 250px; /* Establecer una altura mínima para asegurar que los recuadros sean iguales */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido se distribuya de manera uniforme */
}

.options > * {
    margin-bottom: 10px;
}

.boton {
    background-color: var(--verde-claro);
    color: #fff;
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    width: auto;
    position: relative;
    margin-top: 20px; /* Añadir margen para separar del contenedor */
}

.boton[disabled] {
    filter: brightness(85%);
    cursor: not-allowed;
}

.radio-custom-label, .checkbox-custom-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio-custom, .checkbox-custom {
    margin-right: 10px; /* Añadir espacio entre el input y el texto */
}
