<div class="container">
    <img class="img-inicio" src="../../assets/v-inicio.png" alt="WeekMeal">
    <div class="right">
        <img class="img-logo" src="../../assets/logo.png" alt="WeekMeal">
        <h1 class="h1-inicio">
            <span style="color: var(--verde-claro)">{{titulo.substring(0,4)}}</span>
            <span style="color: var(--verde-oscuro)">{{titulo.substring(4)}}</span>
        </h1>
        <p class="descripcion">{{descripcion}}</p>
        <div class="botones">
            <button routerLink="/login" class="login">{{login}}</button>
            <button routerLink="/configuracion-inicial" class="signup">{{signup}}</button>
        </div>
    </div>
</div>