.contenedor-imagenes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: calc(100vh - 80px); /* Restamos la altura estimada de la navbar */
    overflow: hidden;
  }
  
  .imagen {
    position: relative;
    width: 50%;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }
  
  .imagen img {
    width: 100%;
    height: 100%;
    height: cover;
    display: block;
  }
  
  .imagen button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50; /* O el color que prefieras */
    color: white;
    font-size: 1.2em;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .imagen button:hover {
    transform: translate(-50%, -50%) scale(1.1);
    background-color: #45a049;
  }

  .imagen.activo button {
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  .imagen button {
    font-family: 'Roboto', sans-serif;
  }
  
  .imagen.activo {
    filter: none;
  }
  