<div class="background">
<div class = "container">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2>Iniciar sesión</h2>
    <div>
      <label for="usuario">Usuario:</label>
      <input type="text" id="usuario" formControlName="usuario">
      <div *ngIf="loginForm.controls['usuario'].invalid && (loginForm.controls['usuario'].dirty || loginForm.controls['usuario'].touched)">
        <div class ="usuario-requerido" *ngIf="loginForm.controls['usuario']?.errors?.['required']">El usuario es requerido.</div>
      </div>
    </div>
    <div>
      <label for="contrasena">Contraseña:</label>
      <input type="{{ showPassword ? 'text' : 'password' }}" id="contrasena" formControlName="contrasena">
      <button type="button" (click)="togglePasswordVisibility()">
        {{ showPassword ? 'Ocultar' : 'Mostrar' }} contraseña
      </button>
      <div *ngIf="loginForm.controls['contrasena'].invalid && (loginForm.controls['contrasena'].dirty || loginForm.controls['contrasena'].touched)">
        <div class="contrasena-requerida" *ngIf="loginForm.controls['contrasena']?.errors?.['required']">La contraseña es requerida.</div>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
    <button type="button" (click)="navigateToRegistro()"  routerLink="/signup">Registrarse</button>
  </form>
</div>
</div>
  