@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Estilos para Menú Semanal */
.menu-semanal {
  display: flex;
  justify-content: space-between; /* Asegura espacio entre los días */
  padding: 20px;
  background-color: #CCFDDE; /* Color de fondo para el área exterior */
  margin: 0 auto;
  max-width: 100%; /* Uso del 100% del ancho de la pantalla */
}

/* Archivo: src/app/menu-semanal/menu-semanal.component.css */

button {
  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Texto blanco */
  padding: 15px 19px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Asegura que el botón no tome toda la línea */
  font-size: 16px; /* Tamaño del texto */
  margin-top: 20px; /* Margen alrededor del botón */
  margin-left: 30px;
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima */
  border: none; /* Sin bordes */
  border-radius: 8px; /* Bordes redondeados */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); /* Transición suave */
  font-family: 'Roboto', sans-serif; /* Fuente de Google */
}

button:hover {
  background-color: #45a049; /* Color de fondo más oscuro al pasar el ratón */
}

button:active {
  background-color: #3e8e41; /* Color de fondo al hacer clic */
  transform: translateY(4px); /* Mueve ligeramente el botón hacia abajo al hacer clic */
}

.comidas a {
  color: #007bff; /* Establece el color principal del enlace */
  text-decoration: none; /* Elimina el subrayado por defecto */
  font-weight: bold; /* Hace el texto más grueso para destacar */
  transition: color 0.3s ease-in-out; /* Transición suave para el color */
}

.comidas a:hover, .comidas a:focus {
  color: #0056b3; /* Cambia el color al pasar el mouse o al enfocar */
  text-decoration: underline; /* Añade un subrayado al pasar el mouse o enfocar */
  outline: none; /* Elimina el contorno que aparece al enfocar en algunos navegadores */
}


.dia {
  flex: 1 0 12%; /* Flexibilidad con base mínima del 12% del contenedor */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4CAF50; /* Color de fondo para cada día */
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  gap: 15px; /* Espacio entre comidas */
}

.comidas {
  width: 100%;
}

.comida {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%; /* Ancho fijo */
    height: 200px; /* Altura fija */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 15px;
    overflow: hidden; /* Evita desbordamiento de texto */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para transformación y sombra */
  }
  
  .comida:hover {
    transform: scale(1.05); /* Aumenta el tamaño en un 5% */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Sombra más pronunciada para efecto de elevación */
  }

.comida img {
  width: 100%; /* Ancho completo de su contenedor */
  height: auto;
  border-radius: 5px;
}

.comida p {
  font-size: 14px;
  color: #333;
  margin-top: 8px;
  text-align: center;
  font-family: 'Roboto', sans-serif; /* Fuente de Google */
}

/* Ajustes responsivos para pantallas pequeñas */
@media (max-width: 1200px) {
  .menu-semanal {
    flex-direction: column;
  }

  .dia {
    width: 100%; /* Cada 'día' ocupa el ancho completo en pantallas pequeñas */
  }
}
