<app-navbar></app-navbar>

<div class="ventana">
    <div class="contenedor">
        <div class="componentes">
            <div class="columna">
                <app-columna-dia [diaSemana]="dia"></app-columna-dia>
            </div>
            <div class="info">
                <h2>{{comida}}</h2>
                <app-receta-info></app-receta-info>
            </div>
        </div>
        <div class="boton-container">
            <button routerLink="/buscar-receta">Cambiar receta</button>
        </div>
    </div>
</div>