.container {
    background-color: #266630;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh; /* Esto centra verticalmente el contenido */
    border-radius: 10px;
  }
  
  .container form {
    width: 250px; /* Ancho del formulario */
    padding: 20px;
  }
  
  .container form h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .container form div {
    margin-bottom: 10px;
  }
  
  .container form label {
    display: block;
    margin-top: 5px;
  }
  
  .container form input[type="text"],
  .container form input[type="password"],
  .container form input[type="email"],
  .container form input[type="tel"],
  .container form input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .container form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 3px;
  }
  
  .container form button:hover {
    background-color: #45a049;
  }
  .background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  