<app-navbar></app-navbar>

<div class="container">
  <div class="button-container">
    <button class="profile-button" [routerLink]="['/perfil/datos']">Editar Perfil</button>
    <button class="profile-button" [routerLink]="['/perfil/preferencias']">Preferencias Alimenticias</button>
  </div>

  
  <div class="profile-container">
    <img class="background-image" src="/assets/fondo-perfil.svg" alt="Fondo del perfil">
    <form (submit)="guardarCambios()">
      <div class="file-upload-container">
        <input type="file" id="fotoPerfil" name="fotoPerfil" (change)="cargarFoto($event)">
        <div class="avatar-container" [style.background-image]="'url(' + imagenSeleccionada + ')'"></div>
        <label for="fotoPerfil" class="file-upload-btn">Seleccionar archivo</label>

      </div>
      <div class="form-column">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre">
  
        <label for="apellidos">Apellidos</label>
        <input type="text" id="apellidos" name="apellidos" [(ngModel)]="apellidos">
  
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario" [(ngModel)]="usuario">
  
        <label for="contraseña">Contraseña</label>
        <input type="password" id="contraseña" name="contraseña" [(ngModel)]="contrasena">
  
        <label for="confirmar contraseña">Confirmar contraseña</label>
        <input type="password" id="contraseña" name="contraseña" [(ngModel)]="contrasena">

        <button type="submit">Guardar Cambios</button>
      </div>
    </form>
  </div>
