<app-navbar></app-navbar>

<div class="container">
  <div class="button-container">
    <button class="profile-button" [routerLink]="['/perfil/datos']">Editar Perfil</button>
    <button class="profile-button" [routerLink]="['/perfil/preferencias']">Preferencias Alimenticias</button>
  </div>

  <div class="profile-container">
    <img class="background-image" src="/assets/fondo-perfil.svg" alt="Fondo del perfil">
    <form (ngSubmit)="guardarCambios()">

      <div class="form-column">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="currentUser!.nombre" required>

        <label for="apellidos">Apellidos</label>
        <input type="text" id="apellidos" name="apellidos" [(ngModel)]="currentUser!.apellidos" required>

        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario" [(ngModel)]="currentUser!.username" required>
      </div>

      <div class="form-column">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" [(ngModel)]="currentUser!.email" required>

        <label for="telefono">Teléfono</label>
        <input type="text" id="telefono" name="telefono" [(ngModel)]="currentUser!.telefono" required>

        <label for="contraseña">Contraseña</label>
        <input type="password" id="contraseña" name="contraseña" [(ngModel)]="currentUser!.password" required>
      </div>

      <button type="submit">Guardar Cambios</button>
    </form>
  </div>
</div>
