/* Estilos para el contenedor de los botones */
.button-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #266630; /* Color de fondo deseado */
  width: 100%;
  padding: 12px;
  border-bottom: 5px solid white; /* Borde blanco de 5px de grosor en la parte inferior */
  transition: transform 0.3s/*, box-shadow 0.3s*/; /* Agregamos una transición suave */
}

.profile-button:hover {
  transform: scale(1.1); /* Hacemos el botón 10% más grande al pasar el ratón */
  /*box-shadow: 0 0 10px rgba(18, 75, 4, 0.3);*/
}

.button-container::before {
  content: ''; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  width: 10px; 
  height: 10px; 
  border-radius: 50%; 
  background-color: white; 
  transform: translate(-50%, -50%); 
}

.button-container::after {
  content: ''; /* Añade el contenido necesario para que funcione el pseudo-elemento */
  position: absolute; /* Establece posición absoluta para que el pseudo-elemento no afecte al flujo normal del contenido */
  top: 65%; /* Posiciona el pseudo-elemento en la parte superior del contenedor */
  bottom: 0; /* Establece la altura del pseudo-elemento igual a la altura del contenedor */
  left: 50%; /* Posiciona el pseudo-elemento en el centro horizontal del contenedor */
  width: 5px; /* Ancho de la línea vertical */
  background-color: white; /* Color de la línea */
  transform: translateX(-50%); /* Centra la línea vertical */
}

.profile-button {
  width: 45%;
  padding: 15px;
  border: none;
  background-color: #266630; /* Color de fondo deseado */
  color: white; /* Texto blanco */
  font-weight: bold; /* Fuente negrita */
  border-radius: 1px; /* Bordes redondeados */
  cursor: pointer;
  font-size: 20px;
}

.profile-button:hover {
  background-color: transparent; /* Cambia el color de fondo al pasar el ratón por encima */
}

.background-image {
  width: 100%;
  height: calc(100vh - 74px); /* Calcula la altura restante menos la altura del contenedor de botones */
  object-fit: cover; /* Ajusta la imagen para que cubra todo el contenedor */
}

/* Estilos para el contenido debajo de los botones */
div {
  margin-top: 0px;
}

.profile-container {
  position: relative;
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

form {
  background-color: #266630;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px; /* Ajusta el ancho máximo del formulario */
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se distribuyan en dos columnas */
  justify-content: space-between; /* Distribuye el espacio entre las columnas */
}

.file-upload-container {
  margin-bottom: 20px; /* Ajusta el margen inferior */
  text-align: center;
}

.file-upload-container label {
  display: block;
  margin-bottom: 10px;
}

.file-upload-container input[type="file"] {
  display: none;
}

.file-upload-btn {
  background-color: #266630;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.file-upload-btn:hover {
  background-color: #8af75f;
}

.form-column {
  flex: 0 0 48%; /* Cada columna ocupa aproximadamente la mitad del ancho del contenedor */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Ajusta el espacio entre los elementos del formulario */
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

.password-toggle-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

button {
  width: 80%;
  margin: 10px auto; /* Centra el botón horizontalmente */
  padding: 10px;
  background-color: #3b8325;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.avatar-container {
  width: 100px; /* Ajusta el tamaño del avatar */
  height: 100px; /* Ajusta el tamaño del avatar */
  border-radius: 50%;
  border: 2px solid #000000;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.file-upload-btn:hover {
  background-color: #8af75f;
}

button:hover {
  background-color: #8af75f;
}
