.contenedor {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--marron);
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 95%;
    /* box-shadow: 5px 5px 5px black; */
}

h2{
    margin-top: 20px;
}

h3{
    margin-top: 20px;
}

p{
    margin-top: 20px;
    margin-bottom: 10px;
}

.favorito-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.left {
    flex: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comida {
    width: 15rem;
    height: 15rem;
    background-color: var(--marron);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comida img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0; /* Ocultar la imagen inicialmente */
    transition: opacity 0.3s ease; /* Transición suave para mostrar la imagen */
}

.comida img.loaded {
    opacity: 1; /* Mostrar la imagen cuando esté cargada */
}

.comida.loaded {
    background-color: transparent; /* Quitar el fondo marrón cuando la imagen esté cargada */
}

.right {
    flex: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: justify;
    margin-right: 50px;
    margin-left: 20px;
}

.receta {
    margin-top: 20px;
}

ul{
    margin-left: 1.5rem;
    margin-top: 1rem;
}