<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="contenedor">
    <div class="left">
        <div class="comida">
            <img [src]="receta?.image" alt="{{ receta?.title }}">
        </div>
        <h2>{{receta?.title}}</h2>
    </div>
    <div class="right">
        <div class="ingredientes">
            <h3>Ingredientes</h3>
            <ul>
                <li *ngFor="let ingrediente of receta?.extendedIngredients">
                    <!-- <img [src]="'https://spoonacular.com/cdn/ingredients_100x100/' + ingrediente.image" alt="{{ ingrediente.name }}"> -->
                    <span>{{ ingrediente.name }}</span>
                </li>
            </ul>
        </div>
        <div class="receta">
            <h3>Preparación</h3>
            <p>{{texto}}</p>
        </div>
    </div>
    <mat-icon  class="favorito-icon" (click)="toggleFavorite()">
        <ng-container *ngIf="!favorito">favorite_border</ng-container> 
        <ng-container *ngIf="favorito">favorite</ng-container>
    </mat-icon>
</div>