<app-navbar></app-navbar>

<div class="container">
    <div class="titulo">
        <h2>Resultados para "{{ query }}"</h2>
    </div>
    <div class="resultados">
        <a *ngFor="let receta of resultados" class="card" [routerLink]="['/receta-detalle', receta.id]">
            <div class="imagen">
                <img [src]="receta.image" class="card-img-top" alt="{{receta.title}}">
            </div>
            <h5 class="card-title">{{receta.title}}</h5>
        </a>
    </div>
    <div *ngIf="resultados.length === 0" class="no-resultados">
        <h1>No se encontraron resultados</h1>
    </div>
</div>
