.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex;
    width: 80%;
    justify-content: left;
    margin-bottom: 20px;
    margin-top: 45px;
}

.titulo h2 {
    font-size: 1.8rem;
    color: var(--verde-oscuro);
}

.resultados {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--verde-oscuro);
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.card {
    width: 250px;
    height: 320px;
    border: 1px solid var(--verde-claro);
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    transition: transform 0.2s; /* Añadir transición */
}

.card:hover {
    transform: scale(1.05); /* Aumentar tamaño al pasar el ratón */
}

.imagen {
    width: 70%;
    height: 70%;
    border-radius: 5px;
    background-color: white;
    margin-top: 40px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: black;
}

a {
    text-decoration: none;
}

.no-resultados h1 {
    font-size: 1.8rem;
    color: var(--verde-oscuro);
}
